<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H8 Model Deployment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form action="{{ url_for('predict') }}" method="post">
        <input type="text" name="Pclass" placeholder="Passenger Ticket Class" required="required" />
        <input type="text" name="Sex" placeholder="Gender (1=Male, 0=Female)" required="required" />
        <input type="text" name="Age" placeholder="Age" required="required" />
        <input type="text" name="SibSp" placeholder="Number of Siblings/Spouses" required="required" />
        <input type="text" name="Parch" placeholder="Number of Parents" required="required" />
        <input type="text" name="Fare" placeholder="Ticket Fare" required="required" />
        <input type="text" name="Embarked" placeholder="Embarked Location (0=Cherbourg, 1=Queenstown, 2=Southampton" required="required" />
        <p>{{ prediction_text }}</p>
        <button type="submit">Predict</button>

    </form>

</body>
</html>